body {
  font-family: 'Poppins', sans-serif;
  background-color: #fafcfe;
  color: #707070;
  min-width: 315px;
  max-width: 1400px;
  margin-left: auto;
  margin-right: auto;
}

.container {
  margin-top: 10px;
}

h1 {
  font-size: 48px;
}

h1 span {
  color: #ff1c64;
}

h2 {
  font-size: 40px;
  font-weight: 400;
}

h3 {
  font-size: 22px;
}

h4 {
  font-size: 20px;
}

h5 {
  font-size: 18px;
}

h6 {
  font-size: 15px;
}

p {
  font-size: 11px;
  margin-bottom: 0;
}

a {
  font-size: 10px;
  color: #ff1c64;
}

span {
  font-weight: bold;
}

ul {
  list-style: none;
  padding: 0;
}

@media screen and (max-width: 768px) {
  h1 {
    font-size: 35px
  }
}

.preview-header h1::before {
  content: "\f002";
  font-family: 'FontAwesome';
  font-size: 3rem;
  color: #ee2166;
  margin: 0 10px;
}

.break-line {
  position: relative !important;
  top: -3px !important;
}

.info-left-top {
  overflow: auto;
  padding: 0 0 18px;
}

.info-left__header img {
  width: 370px;
  height: 220px;
  display: block;
  margin: 10px 0 40px;
}

@media screen and (max-width:768px) {
  .info-left__header {
    font-size: 24px;
  }
}

.report-header__middle h3 {
  position: relative;
  top: 8px;
  margin: 0;
  font-size: 0.75rem;
  float: left;
  margin-top: 1px;
}

.report-header {
  position: relative;
  background-color: #6bc28b;
  border-radius: 10px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  height: 43px;
  color: white;
  margin-top: 20px;
}

.report-header__left img {
  margin: 5px;
  width: 25px;
  height: 30px;
  float: left;
  position: relative;
  top: 1px;
  left: 2px;
}

.report-header__right {
  display: inline-block;
  float: right;
  padding: 0;
  position: absolute;
  right: 10px;
  top: -10px;
}

.report-header__right h4 {
  font-size: 0.5rem;
  position: relative;
  left: 2px;
}

.report-header__right img {
  width: 45px;
  height: 35px;
  position: relative;
  top: 7px;
}

.report-header__right a {
  color: #6bc28b;
  position: absolute;
  top: 13px;
  right: 5px;
  text-align: center;
}

/* Content Section */
.report-content {
  background-color: #e8e8e8;
  margin-top:-10px;
  text-align: left;
}

.report-content hr {
  width: 100%;
  background-color: white;
  height: 4px;
  margin: 2px 0 5px 0;
}

.car-type {
  padding-top: 4px;
  font-size: 12px;
}

.car-type__title {
  color: #999;
  font-size: 11px;
}

.car-type__content {
  font-weight: bold;
  position: relative;
  left: 30px;
  font-size: 11px;
}

.car-type a {
  color: #acacac;
}

.print-report::before {
  background-image:url('../report_images/Print_Icon.png');
  background-repeat: no-repeat;
  background-size: 20px 15px;
  display: inline-block;
  width: 20px;
  height: 15px;
  content:"";
  margin: 5px 8px 0;
}

/* Report Summary */
.report-summary {
  position: relative;
}

/* Headers Icons and texts */
#outer-circle,
#outer-circle__no-icon {
  background: #88cea1;
  border-radius: 50%;
  height: 40px;
  width: 40px;
  position: relative;
  left: -14px;
  z-index: 1;
  top: 20px;
}

#outer-circle__no-icon {
  background: white;
}

#inner-circle,
#inner-circle__no-icon {
  background: #88cea1;
  border: 3px solid white;
  border-radius: 50%;
  height: 35px;
  width: 35px;
  top: 3px;
  left: 23px;
  position: relative;
  margin: -20px 0px 0px -20px;
}

#inner-circle::before {
  background-image:url('../report_images/ReportSummaryIcon.png');
  content:"";
}

#inner-circle::before,
#inner-circle__no-icon::before {
  position: absolute;
  background-size: 25px 25px;
  display: inline-block;
  width: 25px;
  height: 25px;
  left: 2px;
  top: 2px;
}

.report-summary__title {
  background-color: white;
  width: 190px;
  height: 34px;
  position: relative;
  z-index: -1;
  bottom: 3px;
  left: 17px;
  padding: 10px 0 0 20px;
  border-right: 5px solid #6bc28b;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.report-Summary-item__title {
  background-color: white;
  width: 186px;
  height: 40px;
  position: relative;
  z-index: -1;
  bottom: 5px;
  left: 15px;
  padding: 6px 0 0 20px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.report-Summary-item__title h7::after {
  background-repeat: no-repeat;
  background-size: 22px 22px;
  display: inline-block;
  width: 22px;
  height: 22px;
  content:"";
  margin-right: 5px;
  float: right;
  margin: 2px 10px;
  /* filter: grayscale(100%); */
}

.report-Summary-item__title1 h7::after {
  background-image:url('../preview_images/reportSummary1.png');
}

.jumbotron-blur-image {
  position: relative;
}

.jumbotron-blur-image img {
  height: 190px;
  margin-top: 20px;
  width: 100%;
}

@media screen and (max-width: 360px) {
  .jumbotron-blur-image img {
    width: 300px;
  }
}

.market-value {
  height: 70px;
}

.jumbotron-text p {
  font-size: 13px;
}

.jumbotron-text h5 span::before {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-image: url(../success_images/cadilac-logo.png);
  background-size: 25px 10px;
  background-repeat: no-repeat;
  background-position: center;
  width: 30px;
  height: 25px;
  content: "";
  float: left;
  margin: 0 10px 5px 0;
}

@media screen and (max-width: 768px) {
  .jumbotron-text h3 span::before {
    margin-top: 0px;
  }
}

.jumbotron-text li h4 {
  font-size: 19px;
}

.info-box h4 {
  margin: 17px 0;
}

.info-box li {
  line-height: 2.0;
}

.info-box {
  border: 1px solid #ccc;
  border-radius: 5px;
  padding-bottom: 15px;
}

.info-box li::before {
  background-image: url(../success_images/checked.png);
  background-repeat: no-repeat;
  width: 24px;
  height: 24px;
  content: "";
  float: left;
  margin: 8px 0 0 29px;
}

.info-right {
  background-color: #f1f2f2;
}

.info-right__header {
  color: #ff1c64;
  padding: 20px 43px 30px;
  position: relative;
}

.info-right__header h3 {
  font-size: 26px;
}

.info-right__header::after {
  color: white;
  position: absolute;
  bottom: -40px;
  left: -3px;
  background-image: url(../success_images/popular.png);
  background-size: 90px 25px;
  background-repeat: no-repeat;
  width: 120px;
  height: 50px;
  content: "MOST POPULAR";
  font-size: 8px;
  padding: 4px 32px 0 0;
  z-index: 1;
}

@media (min-width:992px) and (max-width:1200px) {
  h4 {
    font-size: 18px;
  }

  h5 {
    font-size: 16px;
  }
}

.info-right__middle {
  margin-bottom: -10px;
}

.info-right__middle-item {
  position: relative;
  background: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px 0 #dadbdd;
  top: -10px;
  padding: 15px 0 0 0;
}

.info-right__middle-first-item {
  margin: 0 3px 0 -5px;
}

.info-right__middle-second-item {
  margin: 0 -3px 0 5px;
}

.info-right__middle-item::after {
  background-image: url(../success_images/60.png);
  background-size: 100px 80px;
  background-repeat: no-repeat;
  width: 100px;
  height: 80px;
  font-size: 30px;
  font-weight: bold;
  content: "";
  color: white;
  float: right;
  position: absolute;
  top: 20px;
  right: 0;
  padding: 6px 0 0 22px;
}

.info-right__middle-first-item::after {
  content: "";
  padding: 6px 0 0 22px;
}

.info-right__middle-second-item::after {
  content: "";
  padding: 6px 0 0 22px;
}

.new-price {
  color: white;
  position: absolute;
  top: 25px;
  right: 20px;
  z-index: 999;
}

.new-price h2 {
  font-size: 35px;
}

.money-back {
  text-align: left;
}

@media screen and (max-width: 992px) {
  .info-right__middle-item {
    margin: 0 0 5px;
  }

  .info-right__header::after {
    left: 1px;
  }

  .info-right__buttom {
    text-align: center !important;
  }

  .money-back {
    text-align: center;
  }
}

.old-price {
  color: WHITE;
  position: absolute;
  top: 60PX;
  right: 26px;
  text-decoration: line-through;
  z-index: 999;
}

@media screen and (max-width:320px) {
  .info-right__middle-first-item::after {
    top: -15px;
    right: 5px;
  }

  .info-right__middle-second-item::after {
    top: -15px;
    right: 5px;
  }

  .old-price {
    top: 25PX;
    right: 30px;
  }

  .jumbotron-text {
    position: relative;
    left: 10px;
  }
}

.seperator {
  height: 5px;
  background-color: #ff1c64;
  width: 100%;
}

input[type=checkbox], input[type=radio] {
  margin: 13px 8px;
}

label {
  width: 100%;
}

.radio h4 span {
  position: relative;
  top: 7px;
}

.radio h5 {
  margin-left: 30px;
  margin-bottom: 0;
}

pre {
  color: #999;
  position: relative;
  left: -7px;
}

.info-right__buttom h6 {
  text-decoration: underline;
}

.info-right__buttom a {
  font-size: 12px;
}

.info-right__buttom a span {
  margin-top: 10px;
}

.checkmark-input {
  float: left;
  height: 25px;
  position: relative;
  margin-right: 7px;
  top: -10px;
}

.info-right__buttom p {
  text-align: left;
  margin-top: 7px;
}

pre small {
  color: #ccc;
}

.btn {
  background-image: radial-gradient(#64b882, #4b9a65);
  border-radius: 10px;
  color: white;
  display: inline-block;
  /* margin-top: 7px; */
  height: 40px;
}

.btn span {
  font-size: 16px;
}

@media screen and (max-width:320px) {
  .btn span {
    font-size: 16px;
  }
}

.money-back {
  color: #ff1c64;
  float: left;
  width: 100%;
  margin: 10px 0 10px 0;
  position: relative;
  left: -10px;
  font-weight: 700;
  /* text-align: left; */
}

.money-back::before {
  background-image: url(../success_images/money-back.png);
  background-size: 35px;
  background-repeat: no-repeat;
  width: 45px;
  height: 35px;
  content: "";
  float: left;
  position: relative;
  top: 7px;
  left: 10px;
  margin-right: 5px;
}

@media screen and (max-width:414px) {
  .money-back::before {
    background-size: 50px;
    width: 50px;
    height: 50px;
    /* content: ""; */
    float: left;
    position: relative;
    top: -10px;
    left: 20%;
    /* margin-right: 5px; */
  }
}

@media screen and (max-width:414px) {
  h3 {
    font-size: 16px;
  }

  .money-back::before {
    left: 15px;
    margin-right: 0;
  }

  .money-back {
    font-size: 38px;
  }

  .money-back h4 {
    position: relative;
    left: 20px;
  }
}

label.container {
    padding: 0;
    margin: 0;
}

.refund {
  text-align: left;
  margin: 0 20px;
}

.refund::after {
  background-image: url(../success_images/privacy-seal.png);
  background-repeat: no-repeat;
  width: 150px;
  height: 50px;
  content: "";
  float: right;
  position: relative;
  bottom: 23px;
}

@media (min-width:992px ) and (max-width: 1200px) {
  .refund::after {
    bottom: 0;
  }
}

.info-box h4 span.logo::before {
  border: 1px solid #ccc;
  border-radius: 8px;
  background-image: url(../success_images/cadilac-logo.png);
  background-size: 45px 18px;
  background-repeat: no-repeat;
  background-position: center;
  width: 50px;
  height: 45px;
  content: "";
  float: left;
  margin: -10px 25px 5px 15px;
 overflow: auto;
}

.logo {
  margin: 10px 0 0 0;
}

.table {
  color: #a7a9ac;
  font-size: 11px;
}

.table span {
  color: #707070;
}

.first-row {
  border: none;
}

.table td {
  padding: 5px 12px;
}

.bor-left {
  border-left: 1px solid black;
  padding: 1px;
}

.footer-text {
  width: 100%;
  color: #a7a9ac;
  position: relative;
}

@media (min-width: 768px) and (max-width: 992px) {
  .footer-text {
    margin-top: 40px;
  }
}

.testimonial::before {
  background-image: url(../success_images2/face.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-size: 130px 130px;
  width: 130px;
  height: 130px;
  float: left;
  content: "";
  position: absolute;
  /* top: 35px; */
  bottom: 20px;
  left: 20px;;
}

  .testimonial-description {
    padding: 40px 20px 20px 210px;
    text-align: center;
  }

.testimonial-description::before {
  content: "\f10d";
  font-family: 'FontAwesome';
  font-size: 2rem;
  position: relative;
  right: 5px;
  float: left;
}

.testimonial-description::after {
  content: "\f10e";
  font-family: 'FontAwesome';
  font-size: 2rem;
  position: relative;
  bottom: 33px;
  left: 5px;
  float: right;
}

hr.start {
  margin-left: 40px;
}

hr.end {
  margin-right: 40px;
}

@media screen and (max-width:768px) {
  .testimonial::before {
    background-size: 100px 100px;
    width: 100px;
    height: 100px;
  }

  .testimonial-description {
    padding: 40px 0 20px 135px;
  }

  .testimonial::before {
    bottom: 60px;
  }

  .table td {
      padding: 5px 4px;
  }

  .refund::after {
    left: 35px;
    bottom: 0;
  }
}
